API_URL="<INSERT YOUR API URL HERE>" # For example (using ollama): http://127.0.0.1:11434/v1
API_KEY="<INSERT YOUR API KEY HERE>"
MODEL_NAME="<INSERT YOUR MODEL NAME HERE>" # For example (using ollama): qwen3-vl:2b-instruct

SHORTCUTS="<INSERT YOUR SHORTCUTS HERE>" # Comma separated list of shortcuts. For example: ctrl+alt+l,ctrl+alt+k