API_URL="<INSERT YOUR API URL HERE>" # For example when using ollama: http://127.0.0.1:11434/v1
API_KEY="<INSERT YOUR API KEY HERE>"
MODEL_NAME="<INSERT YOUR MODEL NAME HERE>" # For example when using ollama: qwen3-vl:4b